<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<listeners>
		<listener class-name="saucelabs.Listeners"></listener>
	</listeners>
	<test thread-count="5" name="PlacingOrder">
		<classes>
			<class name="saucelabs.orderplaced.LogintoApplication" />
			<class name="saucelabs.orderplaced.AddingItemstoCart" />
			<class name="saucelabs.orderplaced.RemoveandCheckout" />
				<class name="saucelabs.original.Register" />		
	<!--	</classes></test>
		<test thread-count="5" name="Sauceverification">
		<classes>  -->
			<class name="saucelabs.original.Register" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
